[{:itonami.blueprint/social-impact [:consumer-protection :fair-debt-practice :local-jobs], :itonami.blueprint/domain :finance/debt-collection, :itonami.blueprint/required-technologies [:robotics :identity :forms :audit-ledger], :itonami.blueprint/isco-08 "4214", :itonami.blueprint/name "Independent Debt Collection & Recovery Practice", :itonami.blueprint/governor :debt-collection-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-4214", :itonami.blueprint/license "AGPL-3.0-or-later"}]